// global styles
$main-font: "Oswald", sans-serif;
$other-font: "Bebas Neue", cursive;
$text-color: rgba(255, 255, 255, 0.658);
$background-color: #174661;
$background-color-light: #1746619d;
$linear-gradient-1: #043653;
$linear-gradient-2: #ffffff;
$transition: transform 650ms ease-out;

$phone: 360px;
$tablet: 768px;
$desktop: 1366px;
$lrgDestop: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  letter-spacing: 1px;
  font-family: $main-font;
  color: $text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: color 650ms ease;
}

p {
  font-size: 1.9rem;
  font-weight: 300;

  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  }

  @media screen and (min-width: $desktop) {
    font-size: 2.4rem;
  }
}

li {
  list-style: none;
}

//reusables
.container {
  width: 100%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;

    @media screen and (min-width: $tablet) {
      font-size: 3.5rem;
    }

    @media screen and (min-width: $desktop) {
      font-size: 4rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba($color: #fff, $alpha: 0.75);
    }

    &::before {
      width: 25rem;
      height: 3px;
      border-radius: 0.8rem;
    }

    &::after {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      bottom: -1.1rem;
    }
  }

  h6 {
    font-size: 2.2rem;
    font-weight: 300;

    @media screen and (min-width: $tablet) {
      font-size: 2.3rem;
    }

    @media screen and (min-width: $desktop) {
      font-size: 2.5rem;
    }
  }
}

//main codes

body {
  width: 100%;
  height: 100%;
  background: url("img/bg-2.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #051f2ef8;
  background-blend-mode: overlay;

  @media screen and (min-width: $tablet) {
    background: url("img/background.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #051f2ef8;
    background-blend-mode: overlay;
  }

  header {
    width: 100%;
    height: 100vh;

    .menu-toggler {
      position: fixed;
      top: 4rem;
      right: 4rem;
      width: 5rem;
      height: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 1500;
      transition: $transition;

      @media screen and (min-width: $tablet) {
        top: 5rem;
        right: 5rem;
      }

      @media screen and (min-width: $desktop) {
        width: 6rem;
      }

      &.open {
        transform: rotate(-45deg);
      }

      .bar {
        background: linear-gradient(
          to right,
          $linear-gradient-1,
          $linear-gradient-2
        );
        width: 100%;
        height: 3px;
        border-radius: 0.8rem;

        &.bar.half {
          width: 50%;
        }

        &.bar.start {
          transform-origin: right;
          transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        }

        &.open .bar.start {
          transform: rotate(-450deg) translateX(0.8rem);
        }

        &.bar.end {
          align-self: flex-end;
          transform-origin: left;
          transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        }

        &.open .bar.end {
          transform: rotate(-450deg) translateX(-0.8rem);
        }
      }
    }

    .top-nav {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: -100vh;
      background-color: $background-color-light;
      transition: all 650ms cubic-bezier(1, 0, 0, 1);
      z-index: 50;

      @media screen and (min-width: $tablet) {
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
      }

      .nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $tablet) {
          flex-direction: row;
        }

        li {
          margin-bottom: 4rem;

          .nav-link {
            font-family: $other-font;
            font-size: 4rem;
            padding: 1rem;

            @media screen and (min-width: $tablet) {
              padding: 2rem;
            }

            @media screen and (min-width: $desktop) {
              font-size: 5rem;
              padding: 4rem;
            }

            &:hover,
            &:focus {
              background: linear-gradient(
                to right,
                $linear-gradient-1,
                $linear-gradient-2
              );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .top-nav.open {
      top: 0;
      border: initial;
    }

    .landing-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      z-index: 1;

      h1 {
        font-size: 9rem;
        text-align: center;
        font-family: $other-font;
        background: linear-gradient(
          to right,
          $linear-gradient-1,
          $linear-gradient-2
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 1rem;
        user-select: none;

        @media screen and (min-width: $tablet) {
          font-size: 12rem;
        }

        @media screen and (min-width: $desktop) {
          font-size: 15rem;
        }

        @media screen and (min-width: $lrgDestop) {
          font-size: 20rem;
        }
      }

      h6 {
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 3px;
        text-align: center;

        @media screen and (min-width: $tablet) {
          font-size: 3rem;
        }

        @media screen and (min-width: $desktop) {
          font-size: 4rem;
        }
      }
    }
  }

  // header ends

  .about {
    width: 100%;
    height: 100%;

    .about-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 6rem;
        letter-spacing: 3px;

        h1 {
          font-size: 5rem;
          opacity: 0.6;

          @media screen and (min-width: $tablet) {
            font-size: 6rem;
          }
        }

        h6 {
          font-size: 2rem;
          font-weight: 400;

          @media screen and (min-width: $tablet) {
            font-size: 3rem;
          }
        }
      }

      p {
        text-align: center;
        width: 80%;
      }

      .social-media {
        margin-top: 2rem;

        .nav-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @media screen and (min-width: $tablet) {
            flex-direction: row;
          }

          i {
            font-size: 6rem;
            transition: color 650ms;
            padding: 3rem;
          }

          .fa-linkedin:hover {
            color: #0e76a8;
          }

          .fa-github-square:hover {
            color: #333;
          }

          .fa-behance-square:hover {
            color: #4d6ef5;
          }
        }
      }
    }
  }

  .my-skills {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    text-align: center;

    .skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 2rem -2rem 2rem 0;
        font-size: 2.5rem;
      }

      .icon-container {
        width: 7.5rem;
        height: 7.5rem;
        border: 3px solid $background-color;
        border-radius: 10px;
        background-color: $linear-gradient-2;
        margin-bottom: 2rem;
        display: flex;
        transform: rotate(45deg);

        @media screen and (min-width: $desktop) {
          width: 8rem;
          height: 8rem;
        }

        @media screen and (min-width: $lrgDestop) {
          width: 9rem;
          height: 9rem;
        }

        i {
          color: $background-color;
          font-size: 3.5rem;
          margin: auto;
          transform: rotate(-45deg);

          @media screen and (min-width: $desktop) {
            font-size: 3.8rem;
          }

          @media screen and (min-width: $lrgDestop) {
            font-size: 4.1rem;
          }
        }
      }
    }
  }

  .portfolio {
    .section-heading {
      margin-bottom: 5rem;
    }

    .portfolio-item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;

      .des-dev {
        display: grid;
        width: 100%;
        padding: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 4rem;
        text-align: center;
        justify-content: center;

        .web-developement {
          margin-bottom: 2rem;

          .portfolio-img {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .portfolio-description {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            justify-content: center;
            align-items: center;

            h6 {
              font-size: 2rem;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 3px;
              margin-bottom: 2rem;
              color: $text-color;
            }

            p {
              width: 80%;
            }

            .links {
              margin-top: 2rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .cta {
                font-size: 1.9rem;
                text-transform: uppercase;
                transition: color 650ms;
                border-bottom: 0.5px solid $linear-gradient-2;
                margin-bottom: 1rem;

                &.cta-left {
                  margin-right: 2rem;
                }

                &:hover {
                  color: $background-color;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact {
    background-color: $background-color;

    .section-heading {
      margin-bottom: 5rem;
    }

    form {
      width: 70%;
      margin: auto;

      label {
        font-size: 2rem;

        @media screen and (min-width: $desktop) {
          font-size: 2.5rem;
        }

        @media screen and (min-width: $lrgDestop) {
          font-size: 2.8rem;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 2rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        border-radius: 5px;
        border: none;
        outline-color: $background-color;
      }

      input[type="submit"] {
        width: initial;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $linear-gradient-1;
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        cursor: pointer;
        transition: background-color 650ms;

        &:hover {
          color: $text-color;
          background-color: $linear-gradient-1;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    background-color: $linear-gradient-1;
    padding: 2rem 0;
    position: relative;

    .up {
      position: fixed;
      width: 7rem;
      height: 7rem;
      background-color: $linear-gradient-1;
      bottom: 4rem;
      right: 5rem;
      border-radius: 100%;
      display: flex;
      animation: pulse 2s infinite;

      @media screen and (max-width: $phone) {
        bottom: 8rem;
      }

      @media screen and (min-width: $desktop) {
        width: 8rem;
        height: 8rem;
      }

      @media screen and (min-width: $lrgDestop) {
        width: 9rem;
        height: 9rem;
      }

      i {
        color: $linear-gradient-2;
        font-size: 3rem;
        margin: auto;
      }
    }

    p {
      font-size: 2rem;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.99);
  }

  70% {
    box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
