* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.658);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.658);
  -webkit-transition: color 650ms ease;
  transition: color 650ms ease;
}

p {
  font-size: 1.9rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1366px) {
  p {
    font-size: 2.4rem;
  }
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 5rem;
}

.section-heading h1 {
  font-size: 3rem;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .section-heading h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1366px) {
  .section-heading h1 {
    font-size: 4rem;
  }
}

.section-heading h1::before, .section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 25rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1.1rem;
}

.section-heading h6 {
  font-size: 2.2rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .section-heading h6 {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1366px) {
  .section-heading h6 {
    font-size: 2.5rem;
  }
}

body {
  width: 100%;
  height: 100%;
  background: url("img/bg-2.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #051f2ef8;
  background-blend-mode: overlay;
}

@media screen and (min-width: 768px) {
  body {
    background: url("img/background.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #051f2ef8;
    background-blend-mode: overlay;
  }
}

body header {
  width: 100%;
  height: 100vh;
}

body header .menu-toggler {
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 5rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

@media screen and (min-width: 768px) {
  body header .menu-toggler {
    top: 5rem;
    right: 5rem;
  }
}

@media screen and (min-width: 1366px) {
  body header .menu-toggler {
    width: 6rem;
  }
}

body header .menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body header .menu-toggler .bar {
  background: -webkit-gradient(linear, left top, right top, from(#043653), to(#ffffff));
  background: linear-gradient(to right, #043653, #ffffff);
  width: 100%;
  height: 3px;
  border-radius: 0.8rem;
}

body header .menu-toggler .bar.bar.half {
  width: 50%;
}

body header .menu-toggler .bar.bar.start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

body header .menu-toggler .bar.open .bar.start {
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

body header .menu-toggler .bar.bar.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

body header .menu-toggler .bar.open .bar.end {
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

body header .top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background-color: #1746619d;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  z-index: 50;
}

@media screen and (min-width: 768px) {
  body header .top-nav {
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
}

body header .top-nav .nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  body header .top-nav .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body header .top-nav .nav-list li {
  margin-bottom: 4rem;
}

body header .top-nav .nav-list li .nav-link {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  body header .top-nav .nav-list li .nav-link {
    padding: 2rem;
  }
}

@media screen and (min-width: 1366px) {
  body header .top-nav .nav-list li .nav-link {
    font-size: 5rem;
    padding: 4rem;
  }
}

body header .top-nav .nav-list li .nav-link:hover, body header .top-nav .nav-list li .nav-link:focus {
  background: -webkit-gradient(linear, left top, right top, from(#043653), to(#ffffff));
  background: linear-gradient(to right, #043653, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body header .top-nav.open {
  top: 0;
  border: initial;
}

body header .landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  z-index: 1;
}

body header .landing-text h1 {
  font-size: 9rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#043653), to(#ffffff));
  background: linear-gradient(to right, #043653, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 768px) {
  body header .landing-text h1 {
    font-size: 12rem;
  }
}

@media screen and (min-width: 1366px) {
  body header .landing-text h1 {
    font-size: 15rem;
  }
}

@media screen and (min-width: 1920px) {
  body header .landing-text h1 {
    font-size: 20rem;
  }
}

body header .landing-text h6 {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body header .landing-text h6 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1366px) {
  body header .landing-text h6 {
    font-size: 4rem;
  }
}

body .about {
  width: 100%;
  height: 100%;
}

body .about .about-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .about .about-details .about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
  letter-spacing: 3px;
}

body .about .about-details .about-heading h1 {
  font-size: 5rem;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  body .about .about-details .about-heading h1 {
    font-size: 6rem;
  }
}

body .about .about-details .about-heading h6 {
  font-size: 2rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  body .about .about-details .about-heading h6 {
    font-size: 3rem;
  }
}

body .about .about-details p {
  text-align: center;
  width: 80%;
}

body .about .about-details .social-media {
  margin-top: 2rem;
}

body .about .about-details .social-media .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  body .about .about-details .social-media .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .about .about-details .social-media .nav-list i {
  font-size: 6rem;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  padding: 3rem;
}

body .about .about-details .social-media .nav-list .fa-linkedin:hover {
  color: #0e76a8;
}

body .about .about-details .social-media .nav-list .fa-github-square:hover {
  color: #333;
}

body .about .about-details .social-media .nav-list .fa-behance-square:hover {
  color: #4d6ef5;
}

body .my-skills {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}

body .my-skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

body .my-skills .skill h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 2rem -2rem 2rem 0;
  font-size: 2.5rem;
}

body .my-skills .skill .icon-container {
  width: 7.5rem;
  height: 7.5rem;
  border: 3px solid #174661;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 1366px) {
  body .my-skills .skill .icon-container {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (min-width: 1920px) {
  body .my-skills .skill .icon-container {
    width: 9rem;
    height: 9rem;
  }
}

body .my-skills .skill .icon-container i {
  color: #174661;
  font-size: 3.5rem;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 1366px) {
  body .my-skills .skill .icon-container i {
    font-size: 3.8rem;
  }
}

@media screen and (min-width: 1920px) {
  body .my-skills .skill .icon-container i {
    font-size: 4.1rem;
  }
}

body .portfolio .section-heading {
  margin-bottom: 5rem;
}

body .portfolio .portfolio-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

body .portfolio .portfolio-item .des-dev {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 2rem;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 4rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .portfolio .portfolio-item .des-dev .web-developement {
  margin-bottom: 2rem;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description h6 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.658);
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description p {
  width: 80%;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description .links {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description .links .cta {
  font-size: 1.9rem;
  text-transform: uppercase;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  border-bottom: 0.5px solid #ffffff;
  margin-bottom: 1rem;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description .links .cta.cta-left {
  margin-right: 2rem;
}

body .portfolio .portfolio-item .des-dev .web-developement .portfolio-description .links .cta:hover {
  color: #174661;
}

body .contact {
  background-color: #174661;
}

body .contact .section-heading {
  margin-bottom: 5rem;
}

body .contact form {
  width: 70%;
  margin: auto;
}

body .contact form label {
  font-size: 2rem;
}

@media screen and (min-width: 1366px) {
  body .contact form label {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1920px) {
  body .contact form label {
    font-size: 2.8rem;
  }
}

body .contact form input,
body .contact form textarea {
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  border: none;
  outline-color: #174661;
}

body .contact form input[type="submit"] {
  width: initial;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #043653;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

body .contact form input[type="submit"]:hover {
  color: rgba(255, 255, 255, 0.658);
  background-color: #043653;
}

body .copyright {
  width: 100%;
  text-align: center;
  background-color: #043653;
  padding: 2rem 0;
  position: relative;
}

body .copyright .up {
  position: fixed;
  width: 7rem;
  height: 7rem;
  background-color: #043653;
  bottom: 4rem;
  right: 5rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@media screen and (max-width: 360px) {
  body .copyright .up {
    bottom: 8rem;
  }
}

@media screen and (min-width: 1366px) {
  body .copyright .up {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (min-width: 1920px) {
  body .copyright .up {
    width: 9rem;
    height: 9rem;
  }
}

body .copyright .up i {
  color: #ffffff;
  font-size: 3rem;
  margin: auto;
}

body .copyright p {
  font-size: 2rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.99);
            box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.99);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.99);
            box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.99);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */